@media all and (min-width:350px) and (max-width:1000px){
    .snakewithladder{
        display: none;
    }
    .main-div{
        position: relative;
        bottom: 15vw;
        flex-direction: column;
        margin: 0;
    }
    .player-icon-div{
        width:35vw;
        height:35vw;
    }
    #heading{
        margin-bottom: 0;
        margin-top: 0;
    }
    .main-div h1{
        font-size: 5vw;
    }
    .player-icon{
        width: 10vw;
        height: 10vw;
        margin-top: 5px;
    }
    button{
        font-size: 6vw;
        width: 35vw;
    }
    .btn-div{
        margin-top: -12vw;
    }
}