button{
    margin-bottom: 0;
}

#heading{
    margin-top: 0;
    height: 8vw;
}

.game-board{
    /* background-color: red; */
    width: 40vw;
    height: 40vw;
    position: relative;
    right: 60px;
    bottom: 15px;
}

.turn{
    width: 15vw;
    background-color: #D9D9D9;
    height: 5vw;
    text-align: center;
    margin: 3vw 0;
    border-radius: 10px;
}

#player1-div{
    width: 15vw;
    height: 5vw;
    animation: turn 1s infinite ease-in-out;
}
#player2-div{
    width: 15vw;
    height: 5vw;
}

@keyframes turn{
    0% , 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

.turn-board img{
    cursor: pointer;
    width: 100px;
}

.dir-rev{
    flex-direction: row-reverse;
}

.row1 div , .row2 div{
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgba(0, 0, 0, 0.675);
}

.row1 div:nth-child(even){
    background-color: #F32E2E;
}
.row1 div:nth-child(odd){
    background-color: #ffffffcb;
}
.row2 div:nth-child(even){
    background-color: #F32E2E;
}
.row2 div:nth-child(odd){
    background-color: #ffffffcb;
}


#ladder1{
    position: absolute;
    width: 150px;
    height: 170px;
    transform: rotate(45deg);
    top: 8px;
    left: 10px;
    z-index: 1;
}

#ladder2{
    position: absolute;
    width: 150px;
    height: 170px;
    transform: rotate(-25deg);
    right: -10px;
    top: 8px;
    z-index: 1;
}
#ladder3{
    position: absolute;
    width: 150px;
    height: 230px;
    transform: rotate(-55deg);
    right: 40px;
    top: 150px;
    z-index: 1;
}
#ladder4{
    position: absolute;
    width: 150px;
    height: 380px;
    transform: rotate(-30deg);
    bottom: 110px;
    right: 160px;
    z-index: 1;
}
#ladder5{
    position: absolute;
    width: 150px;
    height: 180px;
    transform: rotate(-45deg);
    top: 180px;
    left: 140px;
    z-index: 1;
}
#ladder6{
    position: absolute;
    width: 150px;
    height: 150px;
    transform: rotate(30deg);
    bottom: 130px;
    left: -10px;
    z-index: 1;
}
#ladder7{
    position: absolute;
    width: 100px;
    height: 100px;
    transform: rotate(-40deg);
    bottom: 10px;
    left: 250px;
    z-index: 1;
}
#snake1{
    position: absolute;
    height: 80px;
    transform: rotate(-50deg);
    top: 40px;
    left: 100px;
    z-index: 1;
}
#snake2{
    position: absolute;
    height: 280px;
    transform: rotate(-50deg);
    top: 220px;
    left: 20px;
    z-index: 1;
}
#snake3{
    position: absolute;
    height: 230px;
    transform: rotate(105deg);
    top: 180px;
    right: 60px;
    z-index: 1;
}
#snake4{
    position: absolute;
    height: 100px;
    transform: rotate(68deg);
    bottom: 60px;
    right: -30px;
    z-index: 1;
}

.icon{
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    z-index: 10;
}

.icon2{
    background: linear-gradient(to right,
    green 0%,
    green 50%,
    yellow 50%,
    yellow 100%);
}

#dicebtn{
    background-color: transparent;
    margin: 0;
    height: fit-content;
    margin: 0 10px;
}

@keyframes shake{
    0%{
        transform: rotate(0deg);
    }25%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(10deg);
    }100%{
        transform: rotate(0deg);
    }
}

.diceani{
    animation: shake 1s ease-in-out
}



@media all and (min-width:300px) and (max-width:800px){
    .game-div{
        flex-direction: column;
    }
    .quitbtndiv{
        margin-right: 60vw;
        margin-top: 5vw;
    }
    button{
        width: 18vw;
        height: 9vw;
        font-size: 3vw;
    }
    .quitbtndiv img{
        width: 9vw;
        display: none;
        
    }
    .main-board{
        flex-direction: column-reverse;
        position: relative;
        bottom: 25vw;
    }
    .turn-board{
        flex-direction: row;
    }
    .turn-board h2{
        display: none;
    }
    #dice{
        width: 70px;
        margin: 0;
    }
    .game-board{
        width: 85vw;
        height: 85vw;
        margin-bottom: 10vw;
        font-size: 12px;
        right: 0;
    }
    #player1-div{
        width: 30vw;
        height: 15vw;
    }
    #player2-div{
        width: 30vw;
        height: 15vw;
    }
    .heading-style{
        font-size: 12vw;
        bottom: 15px;
    }
    #heading{
        height: 55vw;
    }
    #heading img{
        bottom:35px;
    }
    .b5{
        bottom: 50px;
    }
    .row1 div , .row2 div{
        width: 8.5vw;
        height: 8.5vw;
    }
    #ladder1{
        position: absolute;
        width: 15vw;
        height: 25vw;
        transform: rotate(45deg);
        top: -1vw;
        left: 6vw;
    }
    #ladder2{
        position: absolute;
        width: 20vw;
        height: 20vw;
        transform: rotate(-25deg);
        right: -2px;
        top: 2px;
    }
    #ladder3{
        position: absolute;
        width: 15vw;
        height: 33vw;
        transform: rotate(-55deg);
        right: 10vw;
        top: 21vw;
    }
    #ladder4{
        position: absolute;
        width: 20vw;
        height: 60vw;
        transform: rotate(-30deg);
        bottom: 13vw;
        right: 24vw;
        z-index: 1;
    }
    #ladder5{
        position: absolute;
        width: 20vw;
        height: 25vw;
        transform: rotate(-45deg);
        top: 28vw;
        left: 20vw;
    }
    #ladder6{
        position: absolute;
        width: 20vw;
        height: 20vw;
        transform: rotate(30deg);
        bottom: 20vw;
        left: -1vw;
    }
    #ladder7{
        position: absolute;
        width: 13vw;
        height: 13vw;
        transform: rotate(-40deg);
        bottom: 1vw;
        left: 37vw;
    }
    #snake1{
        position: absolute;
        height: 10vw;
        transform: rotate(-60deg);
        top: 7vw;
        left: 15vw;
    }
    #snake2{
        position: absolute;
        height: 41vw;
        transform: rotate(-50deg);
        top: 31vw;
        left: 2vw;
    }
    #snake3{
        position: absolute;
        height: 35vw;
        transform: rotate(105deg);
        top: 25vw;
        right: 10vw;
    }
    #snake4{
        position: absolute;
        height: 15vw;
        transform: rotate(68deg);
        bottom: 8vw;
        right: -8vw;
    }
    .icon{
        width: 5vw;
        height: 5vw;
    }
}

