
.img2{
    width: 280px;
    margin-right: 50px;
}


@media all and (min-width:350px) and (max-width:1000px){
    .snakewithladder , .img2{
        display: none;
    }

    input{
        width: 70vw;
        height: 15vw;
        padding: 0 10px;
        font-size: 4vw;
    }
    label{
        font-size: 5vw;
    }
    .btn-div{
        margin-top: 10vw;
    }
    button{
        width: 30vw;
    }
    .namediv{
        flex-direction: column;
        font-size: 3vw;
    }
    #heading{
        margin-top: 0;
        margin-bottom: 0;
    }
}