.result-div{
    margin-top: 3vw;
    text-align: center;
}
.result-text{
    width: 40vw;
}
@media all and (min-width:300px) and (max-width:800px){
    .snakewithladder{
        display: none;
    }
    .result-div h1{
        font-size: 8vw;
        margin: 0;
    }
    .result-div h2{
        font-size: 5vw;
        margin-bottom: 12vw;
    }
    .result-div{
        gap: 0;
        margin-top: 3vw;
    }
    .result-text{
        right: 0;
        text-align: center;
        width: 90vw;
    }
}