@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #FF7A00;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-dir{
    flex-direction: column;
}

.sp-aro{
    justify-content: space-around;
}

.img2{
    margin-left: 4vw;
}

.heading-style{
    position: relative;
    font-size: 5vw;
    color: #FF0000;
    /* -webkit-text-stroke: 3px black; */
    text-shadow: 0 0 5px black;
    font-style: italic;
}

#heading{
    margin-top: 50px;
}

#heading img{
    width: 60px;
}

.r10{
    right: 10px;
}
.r20{
    right: 20px;
}
.r30{
    right: 30px;
}
.r40{
    right: 40px;
}
.r50{
    right: 50px;
}
.r60{
    right: 60px;
}

button{
    width: 15vw;
    height: 7vh;
    margin-bottom: 3vw;
    font-size: 1.5vw;
    font-family: 'Jost', sans-serif;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.maindiv{
    margin-top: 5vw;
}

input{
    width: 25vw;
    height: 8vh;
    margin: 4vw 0 1vw;
    font-size: 1vw;
    font-family: 'Jost', sans-serif;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    padding-left: 1vw;
}

label{
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color: white;
}

.player-icon{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

.player-icon-div{
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1vw;
    place-items: center;
    width: 18vw;
    height: 18vw;
    text-align: center;
}

.green{
    background-color: #18FF04;
}

.yellow{
    background-color: #EBFF00;
}

.purple{
    background-color: #FF00E5;
}

.blue{
    background-color: #06F0FF;
}

.main-div{
    gap: 10vw;
    margin: 5vw 20vw 0 0;    
}

.main-div h1{
    font-size: 1.7vw;
    text-align: center;
    color: white;
    margin-top: 2vw;
    font-family: 'Jost', sans-serif;
}

.btn{
    margin: 0;
}

.btn-div{
    margin-top: 3vw;
}

.result-div{
    color: white;
    gap: 45vw;
    font-family: 'Jost', sans-serif;
    width: 100vw;
}

.result-div h1{
    margin-bottom: 3vw;
}

.result-div h2{
    font-size: 1.2vw;
}

.result-text{
    position: relative;
    right: 30vw;
}

